doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Lending to Merchant')
        link(rel='shortcut icon', href='/favicon.png')
        title #{title}
        link(href='/stylesheets/css/bootstrap.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/stylesheets/css/main.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/css/icomoon.css')
        link(href='/stylesheets/css/animate-custom.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
        script(src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/modernizr.custom.js')
        script(src='/javascripts/require.js')
    body(data-spy='scroll', data-offset='0')
        include adminHeader
        block content