doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title LENDING TO MERCHANTS
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
    script(src='/javascripts/require.js')
  body
    #container
      #body-main
        .body-top-box
          .body-container
            .body-top-inside
              .body-top-left
                h2.styleFontface
                  img(src='logo.png', alt='')
                | Get quick, hassle free Business Loans
              .body-top-right
                img.phone-icon(src='images/phone-icon.jpg', alt='', width='43', height='51')
                h4.styleFontface Call Us TODAY
                h5.styleFontface  1-888-123-4567
        .welcome-box
          .body-container
            .welcome-inside
              .welcome-left
                h1.styleFontface
                  | We Offer Small
                  br
                  |               Business Loan
                h2.styleFontface Apply for up to $500,000
                .subnav
                  ul
                    li
                      h3.styleFontface • No Application Fee
                    li
                      h3.styleFontface • Approved in less than 24 hours
                    li
                      h3.styleFontface • Funding in as quick as 3 business days
                    li
                      h3.styleFontface • Bad Credit OK
                a.apply-button(href='#', title='APPLY NOW') APPLY NOW
              form.form-group.centere(id='quote', action='/quoteRequest', onsubmit="return validateMyForm();", method='POST')
                .form-box
                  .form-title
                    h2.styleFontface GET A QUOTE
                    |               We will call you back within 24 hours with a free loan assessment.
                  .form-inside
                    input.input-box(id='fullName', type='text', name='fullName', placeholder='FULL Name')
                    br
                    input.input-box(id='companyName', name='companyName', type='text', placeholder='Company name')
                    br
                    input.input-box(id='amountNeeded', name='amountNeeded', type='text', placeholder='HOW MUCH DO YOU NEED? ($)')
                    br
                    input.input-box(id='yearsInBusiness', name='yearsInBusiness', type='text', placeholder='Years in Business')
                    br
                    input.input-box(id='phoneNumber', name='phoneNumber', type='text', placeholder='PHONE NUMBER')
                    br
                    input.input-box(id='emailAddress', name='emailAddress', type='text', placeholder='EMAIL ADDRESS')
                    br
                    button.button(type="submit", title='GET QUOTE') GET QUOTE
        .content-box
          .body-container
            .content-inside
              .content-left
                img(src='images/business-bg-01.jpg', width='500', height='500', alt='')
              .content-right
                h2.styleFontface
                  | How to Get a Small
                  br
                  |               Business Loan
                p
                  | If you are a small business that has been in existence for at least 3 months, we can get you up to $500,000.
                  | With Lending2Merchants getting approved for a small business loan is as easy as 1-2-3.
                  br
                  br
                  |              Simply fill in our one-page application and provide us with your 3 monthly credit card statements along with 3 bank statements and get approved in matters of hours.
                a.apply-button2(href='#', title='APPLY NOW') APPLY NOW
                h4.styleFontface(style='padding-top:10px;') Call Us TODAY
                h5.styleFontface 1-888-123-4567
            .content-inside
              .content-middle-left
                h2.styleFontface
                  | Small Business
                  br
                  |               Loan Benefits
                p
                  | We understand that no matter how big or small a business is, they all require capital to grow from small to big or even big to bigger.  Merchant cash advances can help you get to that next level and at a time when you need it the most.  With no interest rates, you just pay a small percentage of your daily sales saving you a huge hassle and headache of making big payments at the end of the month.  We care about your future regardless of your credit history.
                a.apply-button2(href='#', title='APPLY NOW') APPLY NOW
                h4.styleFontface(style='padding-top:10px;') Call Us TODAY
                h5.styleFontface 1-888-123-4567
              .content-middle-right
                img(src='images/business-bg-02.jpg', width='500', height='500', alt='')
        .services-box
          .body-container
            .services
              ul
                li
                  img.services-bg(src='images/services-bg-01.jpg', alt='', width='300', height='250')
                  h3.styleFontface Why You Need Loans?
                  p
                    | If you are looking to grow your business but are having a tough time raising the capital needed, Merchant Cash Advances could be the solution to all your problems.
                li
                  img.services-bg(src='images/services-bg-02.jpg', alt='', width='300', height='250')
                  h3.styleFontface Why Choose Us?
                  p
                    | We at Lending2Merchants take pride in helping our customers reach new heights.  80% of our clients have taken more than one business loan to help their businesses.
                li(style='margin-right:0px;')
                  img.services-bg(src='images/services-bg-03.jpg', alt='', width='300', height='250')
                  h3.styleFontface Business Success
                  p
                    | At Lending2Merchants, your success means everything to us.  Our growth is measured in terms of numbers of businesses we have helped grow.  Simply put, we make money by putting money in your hands.
        .testimonial-box
          .body-container
            .testimonial
              ul
                li
                  strong Lending2Merchants were God sent!
                  p
                    | My business was struggling and banks simply refused to lend me the money I needed to expand to attract more clientele.  Lending2Merchants were a blessing.
                    | Thank You!
                  strong Michael Smith
                  br
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                li
                  strong Thank You for your support
                  p
                    | I was on the verge of bankruptcy and was turned down by not just the banks but also other money lenders.
                    | Lending2Merchants pulled me out and gave me the money I needed to get back on my feet.
                  strong Julio Ramirez
                  br
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                li(style='margin-right:0px;')
                  strong Thank you for your trust
                  p
                    | I wanted to grow my business but was refused by various institutions who thought my business was high risk.
                    | Lending2Merchants provided me with the capital I needed.  Thank you for believing in me.
                  strong Chris Marshall
                  br
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
                  img.star-th(src='images/star-th.jpg', alt='', width='13', height='13')
      #footer
        .footer-main
          .footer-container
            .footer-left
              | © Copyright Lending 2 Merchants. All Rights Reserved
            .body-top-right
              img.phone-icon(src='images/phone-icon2.jpg', alt='', width='43', height='51')
              h4.styleFontface(style='color: #FFF;') Call Us TODAY
              h5.styleFontface  1-888-123-4567